package cmd

import (
	"github.com/futurehomeno/cliffhanger/bootstrap"
	"github.com/futurehomeno/cliffhanger/root"
	"github.com/futurehomeno/cliffhanger/router"
	log "github.com/sirupsen/logrus"

	"github.com/futurehomeno/{{.RepositoryName}}/internal/config"
	"github.com/futurehomeno/{{.RepositoryName}}/internal/routing"
)

// Execute loads configuration and then builds and executes the application.
func Execute() {
	//nolint:forcetypeassert
	cfg := getConfigService().Model()

	bootstrap.InitializeLogger(cfg.LogFile, cfg.LogLevel, cfg.LogFormat)

	app, err := Build(cfg)
	if err != nil {
		log.WithError(err).Fatalf("failed to build the application")
	}

	err = app.Run()
	if err != nil {
		log.WithError(err).Fatalf("the application has stopped with an error")
	}
}

// Build builds the application.
func Build(cfg *config.Config) (root.App, error) {
	app, err := root.New{{if eq .Domain "edge"}}Edge{{else}}Core{{end}}AppBuilder().
		WithMQTT(getMQTT(cfg)).
		WithServiceDiscovery(routing.GetDiscoveryResource()).{{if eq .Domain "edge"}}
		WithLifecycle(getLifecycle(cfg)).{{end}}
		WithTopicSubscription(
			{{if eq .Type "app"}}router.TopicPatternApplication(routing.ResourceName),{{else}}router.TopicPatternAdapter(routing.ResourceName),
			router.TopicPatternDevices(routing.ResourceName),{{end}}
		).
		WithRouting(newRouting(cfg)...).
		WithTask(newTasks(cfg)...).
		Build()
	if err != nil {
		return nil, err
	}

	return app, nil
}
