#!/bin/sh
set -e

case "$1" in
	remove|purge)
		echo -n "Removing service logs..."{{if eq .Domain "edge"}}
		rm -r /var/log/thingsplex/{{.PackageName}} || true{{else}}
		rm -r /var/log/futurehome/{{.PackageName}} || true{{end}}
		echo "...OK"
		echo -n "Removing service configuration and data files..."{{if eq .Domain "edge"}}
		rm -r /opt/thingsplex/{{.PackageName}} || true{{else}}
		rm -r /var/lib/futurehome/{{.PackageName}} || true{{end}}
		echo "...OK"
	;;

	upgrade|abort-upgrade|abort-install|failed-upgrade|disappear)
	;;

	*)
		echo "postrm called with an unknown argument \`$1'" >&2
		exit 1
	;;
esac

exit 0
